.artPic{
    margin-top: 10px;
    margin-left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.sngPic{
    margin-top: 10px;
    margin-left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.bio{
    margin-top: 10px;
    font-size:14px;
    letter-spacing: 0.6px;
    margin-right: 20px;
    color: rgb(179, 179, 179);
    width: 585px;
}

.trash{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.nameTrash{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}